body {
  text-align: center;
  background-color: lightblue;
}

#chatbox {
  border: 1px solid black;
}

.row {
  margin-bottom: 50px;
}

#chat {
  margin-bottom: 10px;
}

#chatbox {
  height: 200px;
  text-align: left;
  background-color: white;
  padding: 10px;
}

#side1 {
  border: 1px solid black;
}

#side2 {
  border: 1px solid black;
}

#p1Buttons {
  visibility: hidden;
}

#p2Buttons {
  visibility: hidden;
}

#chatbox {
  overflow: scroll;
}

#player1Name {
  font-size: 22px;
  margin-top: 10px;
}

#player2Name {
  font-size: 22px;
  margin-top: 10px;
}

.winloss {
  margin-bottom: 20px;
}

#title {
  margin-bottom: 30px;
}

#userMessage {
  padding: 2px 2px 2px 4px;
}

p {
  margin-bottom: 2px;
}